@{
    ViewData["Title"] = "Home Page";
}

<body background="\images\pizzashop1.png"
  style="background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;"> 

   
</body>